* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


body {
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头 */
.header{
    height: 42px;
    background-color: bisque;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    float: left;
}

.nav{
    float: left;
    margin-left: 70px;
    height: 42px;
}
/* 导航 */
.nav li{
    float: left;
    margin-right: 25px;
}
.nav li a{
    display: block;
    padding: 0 9px;
    line-height: 42px;
    height: 42px;
    font-size: 18px;
    color: #050505;
}
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

.search{
    float:left;
    margin-left: 59px;
    width: 412px;
    height:40px;
    border: 1px solid #00a4ff;
}
.search input{
    float:left;
    width: 360px;
    height:38px;
    padding-left: 20px;
    border: 0;
    
}
.search input::placeholder{
    font-size:14px;
    color: #bfbfbf;
}

.search button{
    float: right;
    width: 50px;
    height: 39px;
    background-image: url(../images/btn.png);
    border: 0;
}
